nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav #main-menu {
    float: right;
    display: flex;
    flex-direction: row;
    height: 125px;
}

nav ul li {
    list-style: none;
    text-align: center;
    height: 125px;
    padding: 0 25px;
    display: flex;
    align-items: center; 
}

nav ul li:hover {
    background-color: #444;
}

nav {
    align-content: center;
    height: 125px;
    max-width: 1480px;
    min-width: 1080px;
    background-color: black;
    margin: 0 auto; 
}

nav #logo img {
    margin: 25px;
    height: 75px;
    float: left;
}

nav ul li a {
    font-size: 19px; 
    color: aliceblue;
    font-family: 'Montserrat';
    margin: 0 10px; 
    padding: 0;
}

body {
    align-items: flex-end;
}